---
import Layout from "../layouts/Layout.astro";
import Home from "../components/Home.astro";
import Experience from "../components/Experience.astro";
import Projects from "../components/Projects.astro";
import AboutMe from "../components/AboutMe.astro";
import Footer from "../components/Footer.astro";
---

<Layout
  title="Portfolio de German G. | Ingeniero de Software y desarrollador web."
>
  <main>
    <Home />
    <Experience />
    <Projects />
    <AboutMe />
    <Footer />
  </main>
</Layout>
