---

---

<section id="about-me">
  <h2 class="mb-6 text-3xl font-semibold gap-x-3 text-white">Sobre mí</h2>
  <article
    class="flex flex-col md:flex-row items-center justify-between gap-20"
  >
    <div
      class="font-medium [&>p>strong]:text-[#FFEF9B] [&>p>strong]:font-medium flex flex-col gap-6 [&>p>i]:text-[#279EFF] [&>p>i]:font-medium [&>p>i]:not-italic text-lg"
    >
      <p>
        <strong
          >Soy Germán Gómez, vivo en México y me encanta todo lo relacionado con
          el desarrollo web.</strong
        >
      </p>

      <p>
        Soy <i>Ingeniero de Software</i> recién egresado por lo cual actualmente
        me encuentro en busca de trabajo en alguna empresa tech.
      </p>

      <p>
        Actualmente me encuentro trabajando como <strong>freelancer</strong> en coolaboración
        con una agencia de Marketing de mi ciudad.
      </p>
    </div>

    <img
      src="/aboutme-pic.jpg"
      alt="german-pic"
      class="w-[270px] h-[270px] rounded-3xl hover:rotate-6 transition ease-out"
    />
  </article>
</section>
