---
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div class="flex items-center">
  <span class="relative inline-flex overflow-hidden rounded-full p-[1px]">
    <span
      class="absolute inset-[-1000%] animate-[spin_2s_linear_infinite] bg-[conic-gradient(from_90deg_at_50%_50%,#279EFF_0%,#1B1D27_50%,#279EFF_100%)]"
    ></span>
    <div
      class="inline-flex items-center justify-center w-full px-3 py-1 text-sm text-[#279EFF] bg-green-100 rounded-full dark:bg-gray-800 dark:text-white/80 backdrop-blur-3xl whitespace-nowrap cursor-default"
    >
      {t("home.badge")}
    </div>
  </span>
</div>
