---
import ExperienceItem from "./ExperienceItem.astro";
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const EXPERIENCE = [
  {
    position: "Freelancer Developer - Full Stack web developer",
    company: "Freelancer",
    period: "01/2023 - Present",
    desc: t("experience.freelancer").desc,
  },
  {
    position: "Software Engineering Intern",
    company: "Emcorsoft",
    period: "01/2024 - 06/2024",
    desc: t("experience.emcor").desc,
  },
  {
    position: "Front end Developer",
    company: "Gobierno de México",
    period: "05/2023 - 12/2023",
    desc: t("experience.gob").desc,
  },
];
---

<section id="experience">
  <h2 class="mb-6 text-3xl font-semibold text-white">{t("experience")}</h2>
  <ol class="relative border-l-2 border-gray-100">
    {EXPERIENCE.map((item) => <ExperienceItem {...item} />)}
  </ol>
</section>
