---
import SocialIcons from "../components/SocialIcons.astro";
---

<footer class="mt-44 pb-6 flex justify-between items-center">
  <div class="text-gray-300 font-semibold text-sm">
    <p>Contacto</p>
    <p>germangl1205@gmail.com</p>
  </div>
  <SocialIcons />
</footer>
