---
import Badge from "../components/Badge.astro";
import SocialIcons from "../components/SocialIcons.astro";
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<article
  class="flex flex-col items-center md:flex-row justify-evenly h-[100vh] md:justify-between scroll-m-20 w-full mx-auto container lg:max-w-5xl px-10"
  id="home"
>
  <div class="text-center md:text-left">
    <h1 class="text-4xl">{t("home.welcome")}</h1>
    <p class="text-[#279EFF] text-5xl font-bold my-2 md:text-6xl">
      {t("home.name")}
    </p>
    <h2 class="text-4xl">{t("home.major")}</h2>
    <article
      class="flex mt-10 gap-10 justify-center items-center md:justify-between md:gap-20"
    >
      <SocialIcons />
      <div>
        <Badge />
      </div>
    </article>
  </div>

  <div>
    <img src="/avatar.jpeg" alt="avatar" class="rounded-full w-48" />
  </div>
</article>
