---
import Badge from "../components/Badge.astro";
import SocialIcons from "../components/SocialIcons.astro";
---

<article
  class="flex flex-col items-center md:flex-row justify-evenly h-[100vh] w-full scroll-m-20 mx-auto container lg:max-w-4xl md:justify-between"
  id="home"
>
  <div class="text-center md:text-left">
    <h1 class="text-4xl">Bienvenido, mi nombre es</h1>
    <p class="text-[#279EFF] text-5xl font-bold my-2 md:text-6xl">
      Germán Gómez
    </p>
    <h2 class="text-4xl">Ingeniero de Software</h2>
    <article
      class="flex mt-10 gap-10 justify-center items-center md:justify-between md:gap-20"
    >
      <SocialIcons />
      <div>
        <Badge />
      </div>
    </article>
  </div>

  <div>
    <img src="/avatar.jpeg" alt="avatar" class="rounded-full w-48" />
  </div>
</article>
