---
const { ref } = Astro.props;
---

<div class="relative group">
  <div
    class="transition-all translate-y-5 opacity-0 group-hover:translate-y-3 group-hover:opacity-100"
  >
    <div class="relative flex items-center group">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-arrow-up-right absolute w-4 h-4 transition-all opacity-0 group-hover:translate-x-1 group-hover:opacity-100"
        ><path d="M7 7h10v10"></path><path d="M7 17 17 7"></path></svg
      >
    </div>
  </div><a
    class="transition-all blur-0 grayscale-0 group-hover:opacity-20 group-hover:blur-sm sm:h-7"
    rel="noopener noreferrer"
    target="_blank"
    href={ref}
  >
    <slot />
  </a>
</div>
