---
import ProjectItem from "./ProjectItem.astro";
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const PROJECTS = [
  {
    name: "PayOps",
    image: "/projects/payops.png",
    description: t("proyect.payops").desc,
    link: "https://payops-landing.vercel.app/",
    technologies: [
      "NextJs",
      "React",
      "Tailwind",
      "Electron",
      "Prisma",
      "Sql",
      "ExpressJs",
    ],
  },
  {
    name: "Ignea Creativos",
    image: "/projects/ignea-page.png",
    description: t("proyect.ignea").desc,
    link: "https://igneacreativo.com/",
    technologies: ["HTML", "CSS", "Javascript"],
  },
  {
    name: "Howler",
    image: "/projects/howler.png",
    description: t("proyect.howler").desc,
    link: "",
    technologies: [
      "NextJs",
      "React",
      "Tailwind",
      "NextAuth",
      "MongoDb",
      "Mongoose",
      "ExpressJs",
    ],
  },
];
---

<section id="projects">
  <h2 class="mb-6 text-3xl font-semibold text-white">{t("projects")}</h2>
  <div
    class="flex flex-col md:flex-row gap-8 md:gap-4 justify-center items-center mt-10"
  >
    {PROJECTS.map((project) => <ProjectItem {...project} />)}
  </div>
</section>
