---
import ProjectItem from "./ProjectItem.astro";
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const PROJECTS = [
  {
    name: "Hominum",
    image: "/projects/hominum.png",
    description: t("proyect.hominum").desc,
    link: "https://hominum-landing.vercel.app/",
    technologies: ["Astro", "React", "Tailwind"],
    deployed: true,
  },
  {
    name: "Rosas Caps",
    image: "/projects/rosas-caps.png",
    description: t("proyect.rosascaps").desc,
    link: "https://rosascaps.com/",
    technologies: ["NextJs", "React", "Tailwind"],
    deployed: true,
  },
  {
    name: "BlackFlamingo",
    image: "/projects/blackflamingo.webp",
    description: t("proyect.blackflamingo").desc,
    link: "https://blackflamingo.mx/",
    technologies: ["NextJs", "React", "Tailwind"],
    deployed: true,
  },
  {
    name: "Tiempo Noble Relojes",
    image: "/projects/tiempo-noble.png",
    description: t("proyect.tiemponoble").desc,
    link: "https://tiemponoblerelojes.com/",
    technologies: ["NextJs", "React", "Tailwind"],
    deployed: true,
  },
  {
    name: "PayOps",
    image: "/projects/payops.png",
    description: t("proyect.payops").desc,
    link: "",
    technologies: [
      "NextJs",
      "React",
      "Tailwind",
      "Electron",
      "Prisma",
      "Sql",
      "ExpressJs",
    ],
    deployed: false,
  },
  {
    name: "Ignea Creativos",
    image: "/projects/ignea-page.png",
    description: t("proyect.ignea").desc,
    link: "https://igneacreativo.com/",
    technologies: ["HTML", "CSS", "Javascript"],
    deployed: true,
  },
  {
    name: "Howler",
    image: "/projects/howler.png",
    description: t("proyect.howler").desc,
    link: "",
    technologies: [
      "NextJs",
      "React",
      "Tailwind",
      "NextAuth",
      "MongoDb",
      "Mongoose",
      "ExpressJs",
    ],
    deployed: false,
  },
];
---

<section id="projects">
  <h2 class="mb-6 text-3xl font-semibold text-white">{t("projects")}</h2>
  <div
    class="grid lg:grid-cols-3 grid-cols-1 sm:grid-cols-2 gap-5 sm:gap-4 justify-center items-center mt-10"
  >
    {PROJECTS.map((project) => <ProjectItem {...project} />)}
  </div>
</section>
